btn-whatsapp{
    position:fixed; 
    right:10px; 
    bottom:10px; 
    transform: translate(-50%, -50%);  
    background-color:rgb(37, 211, 102); 
    width:50px; height:50px; 
    text-align:center; 
    line-height:18px; 
    font-size:1.8em; 
    color:#ffffff; 
    font-weight:100; 
    border-radius:50%; 
    border-color: #1e1f1e;
  }
  
  .btn-whatsapp:before,
  .btn-whatsapp:after
  {
      content: '';
      display:block;
      position: absolute;
      border-radius:50%;
      border:1px solid #25d366;
      left: -20px;
      right: -20px;
      bottom: -20px;
      top: -20px;
      animation: animate 1.5s linear infinite;
      opacity:0;
      backface-visibility:hidden;    
  }
  
  .pulsaDelay:after { animation-delay: .5s; }
  @keyframes animate {
     0%   { transform: scale(0.5); opacity:0; }
     50%  { opacity:1; }
     100% { transform: scale(1.2); opacity:0; }
  }
  
  @media (min-width: 720px) {
    .btn-whatsapp{
      position:fixed; 
      right:20px; 
      bottom:20px; 
      transform: translate(-50%, -50%);  
      background-color:rgb(37, 211, 102); 
      width:50px; height:50px; 
      text-align:center; 
      line-height:18px; 
      font-size:1.8em; 
      color:#ffffff; 
      font-weight:100; 
      border-radius:50%; 
      border-color: #1e1f1e;
    }
    
    .btn-whatsapp:before,
    .btn-whatsapp:after
    {
      content: '';
        display:block;
        position: absolute;
        border-radius:50%;
        border:1px solid #25d366;
        left: -5px;
        right: -5px;
        bottom: -5px;
        top: -5px;
        animation: animate 1.5s linear infinite;
        opacity:0;
        backface-visibility:hidden;    
    }
    .pulsaDelay:after { animation-delay: .5s; }
    @keyframes animate {
       0%   { transform: scale(0.5); opacity:0; }
       50%  { opacity:1; }
       100% { transform: scale(1.2); opacity:0; }
    }
  
  }
  